
@{
    ViewData["Title"] = "AdministradorUsuarios";
}

<div class="text-center">
    <div class="alert alert-succes">
        <h2 class="display-4">Visible para Administrador</h2>
    </div>
</div>

