@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Su rol no le permite acceder al contenido de esta página, contacte a un administrador</p>
<p>Use this page to detail your site's privacy policy.</p>
